.theatre {
    /* rem: 16px (default fontsize) */
    padding: 1rem;
    overflow-x: scroll;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .seat-group {
        display: flex;
        flex-direction: column;
        .group-label {
            text-align: center;
            border-bottom: 2px solid #e3e3e3;
            margin: 0;
            padding: 10px 0;
            font-size: 10px;
            margin: 10px 0;
            box-sizing: border-box;
        }
        .layout {
            display: grid;
            gap: 10px;
            .seat {
                border-radius: 4px;
                text-align: center;
                font-size: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .available {
                outline: 1px solid green;
                cursor: pointer;
                transition: 0.3s background-color;
            }
            .available:hover {
                background-color: green;
                color: white;
                outline: none;
            }
            .unavailable {
                cursor:not-allowed;
                background-color: #e3e3e3;
            }
        }
    }
}