.input-search{
    border: 1px solid black;
    border-radius: 4px;
    width: 600px;
    height: 40px;
    padding: 10px;
}
.recipe-list{
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    max-height : 400px;
    overflow-y: scroll;
}
.recipe{
    padding: 4px;
    cursor: pointer; 
}
.recipe:hover{
    background-color: azure;
}