.new-comment-section{
    display: flex;
    gap: 5px;
}
.new-comment-input{
    width: 100%;
}
.add-comment{
    cursor: pointer;
    background-color: rgb(65, 65, 241);
    font-size: 12px;
    color: white;
}
.add-comment:hover{
    background-color: rgb(110, 110, 209);
}

.comments-container{
    margin-top: 10px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-item{
    border: 0.5px solid lightgray;
    background-color: rgb(171, 183, 191);
    padding: 3px;
}

.edit-comment-section{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.replies-section{
    margin-left: 20px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.buttons-section{
    display: flex;
    margin:0;
    gap: 5px; 
}
.button-item{
    cursor: pointer;
}
