.mainGrid{
    display: grid; 
    width: 300px;
    min-height: 100px; 
    border: 1px solid black;
    grid-template-columns: repeat(3,100px) ;
}

.boardElement{ 
    width: 100px;
    height: 100px;
    border: 1px solid black; 
    cursor: pointer;  
    text-align: center; 
    line-height: 100px;
    font-size:xx-large;
}
.turn{
    text-align: center;
    padding: 10px;
    width: 300px;
}